* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;
}

.overall-container {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 55%;
	max-width: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 10px 10px -5px;
}

.overall-container .calculator-screen {
	width: 100%;
	background: black;
	height: 100px;
	color: white;
	text-align: right;
	padding-right: 2rem;
	font-size: 3.5rem;
}

.bottom-container {
	padding: 1rem;
	grid-gap: 0.5rem 2.6rem;
	display: inline-grid;
	grid-template-columns: repeat(4, 45px);
	grid-template-rows: repeat(5, 60px);
	grid-template-areas: "plus minus multi divi" "number-7 number-8 number-9 equal-sign" "number-4 number-5 number-6 equal-sign" "number-1 number-2 number-3 equal-sign" "number-0 dot clear equal-sign";
}

/* grid-templates */

.plus-sign {
	grid-area: plus;
}

.minus-sign {
	grid-area: minus;
}

.multi-sign {
	grid-area: multi;
}

.division-sign {
	grid-area: divi;
}

.number-7 {
	grid-area: number-7;
}

.number-8 {
	grid-area: number-8;
}

.number-9 {
	grid-area: number-9;
}

.number-4 {
	grid-area: number-4;
}

.number-5 {
	grid-area: number-5;
}

.number-6 {
	grid-area: number-6;
}

.number-1 {
	grid-area: number-1;
}

.number-2 {
	grid-area: number-2;
}

.number-3 {
	grid-area: number-3;
}

.number-0 {
	grid-area: number-0;
}

.dot {
	grid-area: dot;
}

.clear {
	grid-area: clear;
	padding: 0!important;
	width: 70px;
	height: 50px;
}

.equal-sign {
	grid-area: equal-sign;
}

.operator-btn, .btn-number {
	padding: 0!important;
	width: 70px;
	height: 50px;
}

/* grid-templates */

/* media queries */

@media only screen and (max-width:600px) {
	.overall-container {
		width: 80%;
		max-width: 250px;
	}
	.top-container .calculator-screen {
		height: 60px;
		font-size: 2rem;
		padding-top: 0.5rem;
	}
	.bottom-container {
		padding: 0.1rem;
		grid-gap: 0.2rem 1rem;
		grid-template-columns: repeat(4, 45px);
		grid-template-rows: repeat(5, 60px);
	}
	.operator-btn, .btn-number, .dot, .clear {
		padding: 0!important;
		width: 50px;
		height: 50px;
	}
	.equal-sign {
		padding: 0!important;
		width: 50px;
	}
}